In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
COLUMNS = ['class', 'age','menopause','tumor-size',
           'inv-nodes','node-caps','deg-malig','breast','breast-quad',
           'irradiat']
# read and store our data
df = pd.read_csv('breast_cancer.data', names=COLUMNS)
# print some item of dataframe
df.head()

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [36]:
df.drop(['menopause', 'inv-nodes', 'breast'], axis=1, inplace=True)

In [37]:
df.head()

,class,age,tumor-size,node-caps,deg-malig,breast-quad,irradiat
0,no-recurrence-events,30-39,30-34,no,3,left_low,no
1,no-recurrence-events,40-49,20-24,no,2,right_up,no
2,no-recurrence-events,40-49,20-24,no,2,left_low,no
3,no-recurrence-events,60-69,15-19,no,2,left_up,no
4,no-recurrence-events,40-49,0-4,no,2,right_low,no

In [38]:
class_maps ={
    "no-recurrence-events":0,
    "recurrence-events":1
}
age_maps ={
    '10-19':0,
    '20-29':1,
    '30-39':2,
    '40-49':3,
    '50-59':4,
    '60-69':5,
    '70-79':6,
    '80-89':7,
    '90-99':8
}

In [39]:
df["class"] = df["class"].map(class_maps)
df["age"] = df["age"].map(age_maps)

In [40]:
df.head()

   class  age tumor-size node-caps  deg-malig breast-quad irradiat
0      0    2      30-34        no          3    left_low       no
1      0    3      20-24        no          2    right_up       no
2      0    3      20-24        no          2    left_low       no
3      0    5      15-19        no          2     left_up       no
4      0    3        0-4        no          2   right_low       no